<a href="https://colab.research.google.com/github/yasp-g/portfolio/blob/main/portfolio/Berin-vs-DC-overcast-visualization/notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Becoming an Independent Data Scientist

## Region and Domain

The region and domain of interest for the project are: **South Lyon, Michigan, United States** and **religious events or traditions**.

## Research Question

How does the

## Data Sources

### Germany data:
#### main Page:
https://www.dwd.de/DE/klimaumwelt/cdc/cdc_node.html

#### Berlin Alexanderplatz sun (from 2015 to present):
https://opendata.dwd.de/climate_environment/CDC/observations_germany/climate_urban/hourly/sun/recent/

#### Berlin Alexanderplatz sun (from 2015 to present):
https://opendata.dwd.de/climate_environment/CDC/observations_germany/climate_urban/hourly/air_temperature/recent/

### Washington, DC data:
#### Main page:
https://www.ncei.noaa.gov/cdo-web/datasets#LCD


#### Search page:
https://www.ncei.noaa.gov/cdo-web/datatools/lcd

### Sketchy link US climatology data with average sunshine
https://www2.census.gov/library/publications/2010/compendia/statab/130ed/tables/11s0394.xls

## Image

## Discussion

# Method

## Notebook Setup

### Mount google drive

In [182]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

### Download and import necessary libraries

In [183]:
%%capture
!pip install remotezip

In [184]:
import pandas as pd
import numpy as np
import datetime 
from remotezip import RemoteZip
from itertools import groupby
from operator import itemgetter

## Load data

### Berlin Data

The Berlin data was found from Germany's Deutsche Wetterdienst [Climate Data Center](https://www.dwd.de/DE/klimaumwelt/cdc/cdc_node.html). The CDC offers open access to a wide range of weather data all across Germany. One of the available weather stations is station ID 0399, in Berlin Alexanderplatz. This data is available in a remote directory, from which, sunshine duration (minutes) during each hour as far back as November 20th, 2015 is loaded below.

This data will be loaded as `df_ber`.

Sunrise and sunset data will also be needed. This was found on https://sunrise.maplogs.com.

This data will be loaded as `df_bersun`.

In [185]:
# define url of zipfile
zip_name = "https://opendata.dwd.de/climate_environment/CDC/observations_germany/climate_urban/hourly/sun/recent/stundenwerte_sun_399_akt.zip"

# use REmoteZip to unpack and load .txt datafile from remote directory
with RemoteZip(zip_name) as ziploc:
    for zip_info in ziploc.infolist():
        # print(zip_info.filename)
        pass
    ziploc.extract('produkt_sun_399_akt.txt')

In [186]:
# read data from file
df_ber = pd.read_csv('produkt_sun_399_akt.txt', sep=';')

# strip whitespace from columns and drop 'eor' column
df_ber.rename(columns=lambda x: x.strip(), inplace=True)
df_ber.drop('eor', axis=1, inplace=True)
# df_ber.info()

In [187]:
# load data for df_bersun
df_bersun = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Coursera Courses/Applied Data Science with Python Specialization - U Michigan/2. Applied Plotting, Charting & Data Representation in Python/Assignments/Assignment 4/Data/Berlin data/Sunshine/Sunrise&set_maplogsdotcom.csv')
# df_bersun

### DC Data

DC climatological data was found using Visual Crossing's [Weather Data database](https://www.visualcrossing.com/weather-data). From this database, climatological data near Washington, DC for the years 2015 to 2021 was queired and loaded below. In this queiered data is "cloudcover" as a percent, for every hour of every day. Information on the exact weather station location is not provided.

This data will be loaded as `df_dc`.

Because cloudcover accounts for clouds during the night, sunrise and sunset data will also be needed. This was found using the National Oceanic and Atmospheric Administration's [Local Climatological Data tool](https://www.ncdc.noaa.gov/cdo-web/datatools/lcd). This data was recorded by the weather station at Washington Reagan National Airport.

This data will be loaded as `df_dcsun`.

In [188]:
# define file path and names
drive_path = '/content/drive/MyDrive/Colab Notebooks/Coursera Courses/Applied Data Science with Python Specialization - U Michigan/2. Applied Plotting, Charting & Data Representation in Python/Assignments/Assignment 4/Data/DC data/'
dc1_file = 'washington_dc climatological 2015 to 2017.csv'
dc2_file = 'washington_dc climatological 2018 to 2021.csv'

# read files
df_dc1 = pd.read_csv(drive_path + dc1_file)
df_dc2 = pd.read_csv(drive_path + dc2_file)

In [189]:
# concatenate the two dc dataframes
df_dc = pd.concat([df_dc1, df_dc2], ignore_index=True)
# df_dc.info()

In [190]:
# load data for df_dcsun
dc3_file = 'NOAA LCD washington daily data.csv'
df_dcsun = pd.read_csv(drive_path + dc3_file)

/usr/local/lib/python3.8/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (35,36,42,43,44,50,52,74,76,77,90) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

### Filter dataframe columns and rename

In [191]:
df_ber = df_ber[['MESS_DATUM', 'SONNENSCHEINDAUER']]
df_ber = df_ber.rename(columns={'MESS_DATUM': 'datetime', 'SONNENSCHEINDAUER': 'sunduration'})
df_dc = df_dc[['datetime', 'cloudcover']]

df_bersun = df_bersun.rename(columns={'Date': 'datetime', 'Sunrise': 'sunrise_BER', 'Sunset': 'sunset_BER', 'Daylength': 'daylength_BER'})
df_dcsun = df_dcsun[['DATE', 'Sunrise', 'Sunset']].dropna().reset_index(drop=True)
df_dcsun = df_dcsun.rename(columns={'DATE': 'datetime', 'Sunrise': 'sunrise_DC', 'Sunset': 'sunset_DC'})

In [192]:
# df_ber, df_dc

## Data Cleaning

The dataframes are different lengths, and neither length equals the number of hours in the intended range (begining of 2016 to end of 2021) which is 52560.

### Standardize datetime columns

In [193]:
# convert to datetime and sort df by datetime
df_ber['datetime'] = pd.to_datetime(df_ber['datetime'], format='%Y%m%d%H')
df_ber.sort_values('datetime', inplace=True)
# df_ber['datetime'].head(30)

In [194]:
# convert to datetime and sort df by datetime
df_dc['datetime'] = pd.to_datetime(df_dc['datetime'])
df_dc.sort_values('datetime', inplace=True)

In [195]:
# convert to datetime
df_bersun['datetime'] = pd.to_datetime(df_bersun['datetime'])

In [196]:
# remove the time information and keep date information
df_dcsun['datetime'] = df_dcsun['datetime'].str.split('T').str[0]
# convert to datetime
df_dcsun['datetime'] = pd.to_datetime(df_dcsun['datetime'])

### Filter date range and add year, month, day, hour columns

In [197]:
startdate = pd.to_datetime('1/1/2016')
enddate = pd.to_datetime('1/1/2022')
df_ber = df_ber[(df_ber['datetime'] >= startdate) & (df_ber['datetime'] < enddate)].reset_index(drop=True)
# df_ber['year'] = df_ber['datetime'].dt.year
# df_ber['month'] = df_ber['datetime'].dt.month
# df_ber['day'] = df_ber['datetime'].dt.day
# df_ber['hour'] = df_ber['datetime'].dt.hour
# df_ber

df_dc = df_dc[(df_dc['datetime'] >= startdate) & (df_dc['datetime'] < enddate)].reset_index(drop=True)
# df_dc['year'] = df_dc['datetime'].dt.year
# df_dc['month'] = df_dc['datetime'].dt.month
# df_dc['day'] = df_dc['datetime'].dt.day
# df_dc['hour'] = df_dc['datetime'].dt.hour
# df_dc

# df_dcsun['year'] = df_dcsun['datetime'].dt.year
# df_dcsun['month'] = df_dcsun['datetime'].dt.month
# df_dcsun['day'] = df_dcsun['datetime'].dt.day
# df_dcsun

len(df_ber), len(df_dc), len(df_bersun), len(df_dcsun)

(50269, 52608, 2192, 2192)

### Remove Febuary 29th from data

In [198]:
df_ber = df_ber.drop(df_ber[(df_ber['datetime'].dt.month == 2) & 
                   (df_ber['datetime'].dt.day == 29)].index).reset_index(drop=True)
df_dc = df_dc.drop(df_dc[(df_dc['datetime'].dt.month == 2) & 
                 (df_dc['datetime'].dt.day == 29)].index).reset_index(drop=True)
df_bersun = df_bersun.drop(df_bersun[(df_bersun['datetime'].dt.month == 2) & 
                        (df_bersun['datetime'].dt.day == 29)].index).reset_index(drop=True)
df_dcsun = df_dcsun.drop(df_dcsun[(df_dcsun['datetime'].dt.month == 2) & 
                       (df_dcsun['datetime'].dt.day == 29)].index).reset_index(drop=True)

len(df_ber), len(df_dc), len(df_bersun), len(df_dcsun)

(50221, 52560, 2190, 2190)

In [199]:
# old method for removing lead day data:

# df_ber = df_ber[~((df_ber['month'] == 2) & (df_ber['day'] == 29))].reset_index(drop=True)
# df_dc = df_dc[~((df_dc['month'] == 2) & (df_dc['day'] == 29))].reset_index(drop=True)
# df_dcsun = df_dcsun[~((df_dcsun['month'] == 2) & (df_dcsun['day'] == 29))].reset_index(drop=True)
# len(df_ber), len(df_dc), len(df_dcsun)

### Duplicate Rows found in `dc_df`

During the following "Dealing with missing rows" section, `dc_df` was found to have dupplicate datetime instances. This needs to be fixed first.

In [200]:
dc_datevc = df_dc['datetime'].value_counts()
print(dc_datevc[dc_datevc > 1])

2019-11-03 01:00:00    2
2020-11-01 01:00:00    2
2016-11-06 01:00:00    2
2018-11-04 01:00:00    2
2017-11-05 01:00:00    2
2021-11-07 01:00:00    2
Name: datetime, dtype: int64

In [201]:
print(df_dc[df_dc['datetime'] == '2019-11-03 01:00:00'])
print(df_dc[df_dc['datetime'] == '2018-11-04 01:00:00'])
print(df_dc[df_dc['datetime'] == '2016-11-06 01:00:00'])
print(df_dc[df_dc['datetime'] == '2018-11-04 01:00:00'])
print(df_dc[df_dc['datetime'] == '2017-11-05 01:00:00'])
print(df_dc[df_dc['datetime'] == '2021-11-07 01:00:00'])

                 datetime  cloudcover
33624 2019-11-03 01:00:00         0.0
33625 2019-11-03 01:00:00         0.0
                 datetime  cloudcover
24888 2018-11-04 01:00:00         0.0
24889 2018-11-04 01:00:00         0.0
                datetime  cloudcover
7416 2016-11-06 01:00:00         0.0
7417 2016-11-06 01:00:00         0.0
                 datetime  cloudcover
24888 2018-11-04 01:00:00         0.0
24889 2018-11-04 01:00:00         0.0
                 datetime  cloudcover
16152 2017-11-05 01:00:00       100.0
16153 2017-11-05 01:00:00       100.0
                 datetime  cloudcover
51240 2021-11-07 01:00:00        79.3
51241 2021-11-07 01:00:00        90.1

During an earlier check, it was confirmed that each year had the appropriate number of values... (there are 8760 hours in a year)

Shown again:

In [202]:
for year in range(2016, 2022):
  print("year:", year)
  print("rows:", len(df_dc[df_dc['datetime'].dt.year == year]))

year: 2016
rows: 8760
year: 2017
rows: 8760
year: 2018
rows: 8760
year: 2019
rows: 8760
year: 2020
rows: 8760
year: 2021
rows: 8760

So, each year has the appropriate number of timestamps, yet every year has a duplicate time stamp in November.

After some investigation, each year was found to be missing a timestamp in march:

In [203]:
# create a date range with all hours in the target range and lead days removed
daterange = pd.date_range(start='2016-01-01', end='2022-01-01', freq='H', closed='left')
leap=[]
for stamp in daterange:
    if stamp.month==2 and stamp.day ==29:
        leap.append(stamp)
daterange = daterange.drop(leap)

# check the difference between the date range and df_dc range
# this will show any missing values
daterange.difference(df_dc['datetime'])

DatetimeIndex(['2016-03-13 02:00:00', '2017-03-12 02:00:00',
               '2018-03-11 02:00:00', '2019-03-10 02:00:00',
               '2020-03-08 02:00:00', '2021-03-14 02:00:00'],
              dtype='datetime64[ns]', freq=None)

In [204]:
# df_dc[(df_dc['year'] == 2016) & (df_dc['month'] == 3)]

# df_dc[(df_dc['year'] == 2016) & (df_dc['month'] == 11)]

At this point, the proper step would be to contact the data provider to gain some context as to what may be causing this issue and determine a path forward together. 

For the sake of this project, it will be interpreted that all time stamps between the missing timestamp in March and the duplicate timestamp in November are one hour "late". All timestamps in this range will be shifted forwards one hour (only the first instance of a duplicated timestamp will be shifted).

#### Shifting offset timestamps

In [205]:
# get missing times from march and duplicate times from november in lists
miss_times = daterange.difference(df_dc['datetime']).sort_values()
dc_datevc = df_dc['datetime'].value_counts()
dup_times = dc_datevc[dc_datevc > 1].index.sort_values()

# iterate over zip of missing and duplicate times and shift timestamps inbetween by 1 hour
for year in zip(miss_times, dup_times):
  # print(f'Missing March hour: {year[0]}')
  # print(f'Duplicate Nov hour: {year[1]}')
  df_dc.datetime = df_dc.datetime.map(lambda x: x - pd.Timedelta(1, 'h') if 
                                      (year[0] < x) & (x < year[1]) else x)
# print('')

# shift the first occurance of each duplicate timestamp forward one hour
for duplicate in dup_times:
  if dup_times.empty:
    break
  # print(df_dc[df_dc['datetime'] == duplicate])
  index = df_dc.index[df_dc['datetime'] == duplicate][0]
  # print(f"Index: {index}")
  # print(f"Value before: {df_dc['datetime'].iloc[index]}")
  df_dc.loc[index, 'datetime'] -=  pd.Timedelta(1, 'h')
  # print(f"Value after: {df_dc['datetime'].iloc[index]}")

In [206]:
daterange.difference(df_dc['datetime']).sort_values()

DatetimeIndex([], dtype='datetime64[ns]', freq=None)

In [207]:
df_dc['datetime'].value_counts()

2016-01-01 00:00:00    1
2020-01-01 05:00:00    1
2019-12-31 19:00:00    1
2019-12-31 20:00:00    1
2019-12-31 21:00:00    1
                      ..
2018-01-01 01:00:00    1
2018-01-01 02:00:00    1
2018-01-01 03:00:00    1
2018-01-01 04:00:00    1
2021-12-31 23:00:00    1
Name: datetime, Length: 52560, dtype: int64

### Dealing with missing rows in `df_ber` and creating `df`

`df_ber` only has 50221 rows. To make investigating this a little easier, the datetime series with all hours in the target date range created earlier will be used as the foundation of a dataframe into which, both `df_ber` and `df_dc` will be left merged. This dataframe will be called `df`.

In [208]:
df = pd.DataFrame(daterange, columns=['datetime'])
df = pd.merge(df, df_ber[['datetime', 'sunduration']], how='left', on='datetime')
df = pd.merge(df, df_dc[['datetime', 'cloudcover']], how='left', on='datetime')
df = df.rename(columns={'sunduration': 'sunduration_BER', 'cloudcover': 'cloudcover_DC'})
# df

In [209]:
df

                 datetime  sunduration_BER  cloudcover_DC
0     2016-01-01 00:00:00              0.0           99.8
1     2016-01-01 01:00:00              0.0          100.0
2     2016-01-01 02:00:00              0.0           88.9
3     2016-01-01 03:00:00              0.0           79.3
4     2016-01-01 04:00:00              0.0           79.3
...                   ...              ...            ...
52555 2021-12-31 19:00:00              0.0           81.7
52556 2021-12-31 20:00:00              0.0           98.3
52557 2021-12-31 21:00:00              0.0           99.6
52558 2021-12-31 22:00:00              0.0           99.6
52559 2021-12-31 23:00:00              0.0           99.6

[52560 rows x 3 columns]

Most of the missing data is in the form of consecutive missing hours. For example, starting on May 25th, 2020, more than an entire month straight is missing (923 consecutive hours).

In [210]:
# get the rows where sunduration is nan
no_sun_ind = df[df.isnull().any(axis=1)].index
print(len(no_sun_ind))

2339

In [211]:
# create a series of tuples
no_sun_segments = []
for k, g in groupby(enumerate(no_sun_ind), lambda ix : ix[0] - ix[1]):
  # print("Values:")
  series = list(map(itemgetter(1), g))
  # print(series)
  # print(f"Number of values: {len(list(map(itemgetter(1), g)))}")
  no_sun_segments.append((len(series), series))

print(*no_sun_segments, sep='\n')

(1, [2577])
(23, [3017, 3018, 3019, 3020, 3021, 3022, 3023, 3024, 3025, 3026, 3027, 3028, 3029, 3030, 3031, 3032, 3033, 3034, 3035, 3036, 3037, 3038, 3039])
(1, [3401])
(1, [3648])
(2, [3712, 3713])
(1, [3790])
(2, [4169, 4170])
(4, [4191, 4192, 4193, 4194])
(1, [4215])
(14, [4303, 4304, 4305, 4306, 4307, 4308, 4309, 4310, 4311, 4312, 4313, 4314, 4315, 4316])
(17, [4324, 4325, 4326, 4327, 4328, 4329, 4330, 4331, 4332, 4333, 4334, 4335, 4336, 4337, 4338, 4339, 4340])
(17, [4348, 4349, 4350, 4351, 4352, 4353, 4354, 4355, 4356, 4357, 4358, 4359, 4360, 4361, 4362, 4363, 4364])
(17, [4372, 4373, 4374, 4375, 4376, 4377, 4378, 4379, 4380, 4381, 4382, 4383, 4384, 4385, 4386, 4387, 4388])
(17, [4396, 4397, 4398, 4399, 4400, 4401, 4402, 4403, 4404, 4405, 4406, 4407, 4408, 4409, 4410, 4411, 4412])
(17, [4660, 4661, 4662, 4663, 4664, 4665, 4666, 4667, 4668, 4669, 4670, 4671, 4672, 4673, 4674, 4675, 4676])
(17, [4684, 4685, 4686, 4687, 4688, 4689, 4690, 4691, 4692, 4693, 4694, 4695, 4696, 4697, 4698, 4699, 4700])
(17, [4708, 4709, 4710, 4711, 4712, 4713, 4714, 4715, 4716, 4717, 4718, 4719, 4720, 4721, 4722, 4723, 4724])
(17, [4732, 4733, 4734, 4735, 4736, 4737, 4738, 4739, 4740, 4741, 4742, 4743, 4744, 4745, 4746, 4747, 4748])
(6, [4756, 4757, 4758, 4759, 4760, 4761])
(1, [4979])
(21, [5706, 5707, 5708, 5709, 5710, 5711, 5712, 5713, 5714, 5715, 5716, 5717, 5718, 5719, 5720, 5721, 5722, 5723, 5724, 5725, 5726])
(3, [6417, 6418, 6419])
(1, [6421])
(3, [6465, 6466, 6467])
(2, [6493, 6494])
(2, [6542, 6543])
(1, [6559])
(1, [6612])
(3, [6730, 6731, 6732])
(2, [6878, 6879])
(5, [8141, 8142, 8143, 8144, 8145])
(4, [8171, 8172, 8173, 8174])
(3, [8189, 8190, 8191])
(1, [8482])
(9, [8647, 8648, 8649, 8650, 8651, 8652, 8653, 8654, 8655])
(11, [8671, 8672, 8673, 8674, 8675, 8676, 8677, 8678, 8679, 8680, 8681])
(4, [9846, 9847, 9848, 9849])
(3, [9851, 9852, 9853])
(2, [11322, 11323])
(3, [11333, 11334, 11335])
(14, [12268, 12269, 12270, 12271, 12272, 12273, 12274, 12275, 12276, 12277, 12278, 12279, 12280, 12281])
(4, [12401, 12402, 12403, 12404])
(10, [12411, 12412, 12413, 12414, 12415, 12416, 12417, 12418, 12419, 12420])
(3, [12443, 12444, 12445])
(2, [12489, 12490])
(14, [12516, 12517, 12518, 12519, 12520, 12521, 12522, 12523, 12524, 12525, 12526, 12527, 12528, 12529])
(3, [12536, 12537, 12538])
(3, [12541, 12542, 12543])
(3, [12546, 12547, 12548])
(7, [12555, 12556, 12557, 12558, 12559, 12560, 12561])
(2, [12740, 12741])
(1, [12852])
(4, [12893, 12894, 12895, 12896])
(1, [13190])
(3, [13192, 13193, 13194])
(5, [13204, 13205, 13206, 13207, 13208])
(2, [13219, 13220])
(4, [13228, 13229, 13230, 13231])
(2, [13233, 13234])
(3, [13236, 13237, 13238])
(2, [13241, 13242])
(1, [13311])
(1, [13313])
(2, [13406, 13407])
(1, [13435])
(1, [13504])
(1, [13522])
(7, [13933, 13934, 13935, 13936, 13937, 13938, 13939])
(16, [13948, 13949, 13950, 13951, 13952, 13953, 13954, 13955, 13956, 13957, 13958, 13959, 13960, 13961, 13962, 13963])
(6, [14170, 14171, 14172, 14173, 14174, 14175])
(3, [14382, 14383, 14384])
(1, [14392])
(3, [14513, 14514, 14515])
(6, [14557, 14558, 14559, 14560, 14561, 14562])
(1, [14820])
(10, [14981, 14982, 14983, 14984, 14985, 14986, 14987, 14988, 14989, 14990])
(1, [15037])
(1, [15104])
(2, [15209, 15210])
(1, [15467])
(6, [15659, 15660, 15661, 15662, 15663, 15664])
(1, [15733])
(2, [15755, 15756])
(1, [15779])
(1, [15923])
(5, [16039, 16040, 16041, 16042, 16043])
(2, [16690, 16691])
(3, [16859, 16860, 16861])
(1, [16881])
(2, [16932, 16933])
(3, [17002, 17003, 17004])
(2, [17292, 17293])
(1, [17387])
(3, [17434, 17435, 17436])
(12, [18824, 18825, 18826, 18827, 18828, 18829, 18830, 18831, 18832, 18833, 18834, 18835])
(4, [18969, 18970, 18971, 18972])
(1, [18979])
(1, [18982])
(3, [20415, 20416, 20417])
(21, [21028, 21029, 21030, 21031, 21032, 21033, 21034, 21035, 21036, 21037, 21038, 21039, 21040, 21041, 21042, 21043, 21044, 21045, 21046, 21047, 21048])
(13, [21094, 21095, 21096, 21097, 21098, 21099, 21100, 21101, 21102, 21103, 21104, 21105, 21106])
(8, [21217, 21218, 21219, 21220, 21221, 21222, 21223, 21224])
(6, [21267, 21268, 21269, 21270, 21271, 21272])
(3, [21512, 21513, 21514])
(7, [21602, 21603, 21604, 21605, 21606, 21607, 21608])
(4, [21629, 21630, 21631, 21632])
(6, [21843, 21844, 21845, 21846, 21847, 21848])
(1, [21950])
(2, [22087, 22088])
(2, [22099, 22100])
(34, [22345, 22346, 22347, 22348, 22349, 22350, 22351, 22352, 22353, 22354, 22355, 22356, 22357, 22358, 22359, 22360, 22361, 22362, 22363, 22364, 22365, 22366, 22367, 22368, 22369, 22370, 22371, 22372, 22373, 22374, 22375, 22376, 22377, 22378])
(11, [22447, 22448, 22449, 22450, 22451, 22452, 22453, 22454, 22455, 22456, 22457])
(4, [22470, 22471, 22472, 22473])
(2, [22545, 22546])
(1, [22552])
(2, [22555, 22556])
(2, [22614, 22615])
(2, [22660, 22661])
(6, [22664, 22665, 22666, 22667, 22668, 22669])
(3, [22688, 22689, 22690])
(3, [22714, 22715, 22716])
(8, [22900, 22901, 22902, 22903, 22904, 22905, 22906, 22907])
(3, [23021, 23022, 23023])
(1, [23128])
(4, [23168, 23169, 23170, 23171])
(5, [23243, 23244, 23245, 23246, 23247])
(2, [23298, 23299])
(1, [23530])
(10, [24967, 24968, 24969, 24970, 24971, 24972, 24973, 24974, 24975, 24976])
(1, [25140])
(2, [25424, 25425])
(1, [25451])
(3, [25639, 25640, 25641])
(2, [25833, 25834])
(8, [25880, 25881, 25882, 25883, 25884, 25885, 25886, 25887])
(4, [26306, 26307, 26308, 26309])
(38, [28488, 28489, 28490, 28491, 28492, 28493, 28494, 28495, 28496, 28497, 28498, 28499, 28500, 28501, 28502, 28503, 28504, 28505, 28506, 28507, 28508, 28509, 28510, 28511, 28512, 28513, 28514, 28515, 28516, 28517, 28518, 28519, 28520, 28521, 28522, 28523, 28524, 28525])
(36, [28963, 28964, 28965, 28966, 28967, 28968, 28969, 28970, 28971, 28972, 28973, 28974, 28975, 28976, 28977, 28978, 28979, 28980, 28981, 28982, 28983, 28984, 28985, 28986, 28987, 28988, 28989, 28990, 28991, 28992, 28993, 28994, 28995, 28996, 28997, 28998])
(1, [29074])
(12, [29077, 29078, 29079, 29080, 29081, 29082, 29083, 29084, 29085, 29086, 29087, 29088])
(4, [29141, 29142, 29143, 29144])
(4, [29172, 29173, 29174, 29175])
(9, [29290, 29291, 29292, 29293, 29294, 29295, 29296, 29297, 29298])
(3, [29550, 29551, 29552])
(3, [29718, 29719, 29720])
(2, [29897, 29898])
(2, [29985, 29986])
(13, [30103, 30104, 30105, 30106, 30107, 30108, 30109, 30110, 30111, 30112, 30113, 30114, 30115])
(2, [30210, 30211])
(1, [30296])
(2, [30307, 30308])
(3, [30342, 30343, 30344])
(1, [30392])
(1, [30706])
(3, [30732, 30733, 30734])
(5, [30799, 30800, 30801, 30802, 30803])
(2, [30829, 30830])
(2, [31000, 31001])
(7, [31018, 31019, 31020, 31021, 31022, 31023, 31024])
(4, [31060, 31061, 31062, 31063])
(12, [31133, 31134, 31135, 31136, 31137, 31138, 31139, 31140, 31141, 31142, 31143, 31144])
(10, [31180, 31181, 31182, 31183, 31184, 31185, 31186, 31187, 31188, 31189])
(2, [31235, 31236])
(4, [31469, 31470, 31471, 31472])
(2, [31497, 31498])
(5, [31551, 31552, 31553, 31554, 31555])
(5, [31616, 31617, 31618, 31619, 31620])
(2, [31663, 31664])
(2, [31714, 31715])
(3, [31877, 31878, 31879])
(14, [31925, 31926, 31927, 31928, 31929, 31930, 31931, 31932, 31933, 31934, 31935, 31936, 31937, 31938])
(1, [31950])
(1, [32360])
(2, [32368, 32369])
(4, [32430, 32431, 32432, 32433])
(9, [32626, 32627, 32628, 32629, 32630, 32631, 32632, 32633, 32634])
(4, [32818, 32819, 32820, 32821])
(12, [32887, 32888, 32889, 32890, 32891, 32892, 32893, 32894, 32895, 32896, 32897, 32898])
(2, [32911, 32912])
(5, [32990, 32991, 32992, 32993, 32994])
(4, [33031, 33032, 33033, 33034])
(5, [33038, 33039, 33040, 33041, 33042])
(4, [33055, 33056, 33057, 33058])
(2, [33109, 33110])
(3, [33152, 33153, 33154])
(8, [33299, 33300, 33301, 33302, 33303, 33304, 33305, 33306])
(3, [33319, 33320, 33321])
(5, [33326, 33327, 33328, 33329, 33330])
(2, [33514, 33515])
(3, [33535, 33536, 33537])
(2, [33542, 33543])
(141, [36254, 36255, 36256, 36257, 36258, 36259, 36260, 36261, 36262, 36263, 36264, 36265, 36266, 36267, 36268, 36269, 36270, 36271, 36272, 36273, 36274, 36275, 36276, 36277, 36278, 36279, 36280, 36281, 36282, 36283, 36284, 36285, 36286, 36287, 36288, 36289, 36290, 36291, 36292, 36293, 36294, 36295, 36296, 36297, 36298, 36299, 36300, 36301, 36302, 36303, 36304, 36305, 36306, 36307, 36308, 36309, 36310, 36311, 36312, 36313, 36314, 36315, 36316, 36317, 36318, 36319, 36320, 36321, 36322, 36323, 36324, 36325, 36326, 36327, 36328, 36329, 36330, 36331, 36332, 36333, 36334, 36335, 36336, 36337, 36338, 36339, 36340, 36341, 36342, 36343, 36344, 36345, 36346, 36347, 36348, 36349, 36350, 36351, 36352, 36353, 36354, 36355, 36356, 36357, 36358, 36359, 36360, 36361, 36362, 36363, 36364, 36365, 36366, 36367, 36368, 36369, 36370, 36371, 36372, 36373, 36374, 36375, 36376, 36377, 36378, 36379, 36380, 36381, 36382, 36383, 36384, 36385, 36386, 36387, 36388, 36389, 36390, 36391, 36392, 36393, 36394])
(1, [36759])
(3, [38193, 38194, 38195])
(1, [38197])
(2, [38340, 38341])
(923, [38449, 38450, 38451, 38452, 38453, 38454, 38455, 38456, 38457, 38458, 38459, 38460, 38461, 38462, 38463, 38464, 38465, 38466, 38467, 38468, 38469, 38470, 38471, 38472, 38473, 38474, 38475, 38476, 38477, 38478, 38479, 38480, 38481, 38482, 38483, 38484, 38485, 38486, 38487, 38488, 38489, 38490, 38491, 38492, 38493, 38494, 38495, 38496, 38497, 38498, 38499, 38500, 38501, 38502, 38503, 38504, 38505, 38506, 38507, 38508, 38509, 38510, 38511, 38512, 38513, 38514, 38515, 38516, 38517, 38518, 38519, 38520, 38521, 38522, 38523, 38524, 38525, 38526, 38527, 38528, 38529, 38530, 38531, 38532, 38533, 38534, 38535, 38536, 38537, 38538, 38539, 38540, 38541, 38542, 38543, 38544, 38545, 38546, 38547, 38548, 38549, 38550, 38551, 38552, 38553, 38554, 38555, 38556, 38557, 38558, 38559, 38560, 38561, 38562, 38563, 38564, 38565, 38566, 38567, 38568, 38569, 38570, 38571, 38572, 38573, 38574, 38575, 38576, 38577, 38578, 38579, 38580, 38581, 38582, 38583, 38584, 38585, 38586, 38587, 38588, 38589, 38590, 38591, 38592, 38593, 38594, 38595, 38596, 38597, 38598, 38599, 38600, 38601, 38602, 38603, 38604, 38605, 38606, 38607, 38608, 38609, 38610, 38611, 38612, 38613, 38614, 38615, 38616, 38617, 38618, 38619, 38620, 38621, 38622, 38623, 38624, 38625, 38626, 38627, 38628, 38629, 38630, 38631, 38632, 38633, 38634, 38635, 38636, 38637, 38638, 38639, 38640, 38641, 38642, 38643, 38644, 38645, 38646, 38647, 38648, 38649, 38650, 38651, 38652, 38653, 38654, 38655, 38656, 38657, 38658, 38659, 38660, 38661, 38662, 38663, 38664, 38665, 38666, 38667, 38668, 38669, 38670, 38671, 38672, 38673, 38674, 38675, 38676, 38677, 38678, 38679, 38680, 38681, 38682, 38683, 38684, 38685, 38686, 38687, 38688, 38689, 38690, 38691, 38692, 38693, 38694, 38695, 38696, 38697, 38698, 38699, 38700, 38701, 38702, 38703, 38704, 38705, 38706, 38707, 38708, 38709, 38710, 38711, 38712, 38713, 38714, 38715, 38716, 38717, 38718, 38719, 38720, 38721, 38722, 38723, 38724, 38725, 38726, 38727, 38728, 38729, 38730, 38731, 38732, 38733, 38734, 38735, 38736, 38737, 38738, 38739, 38740, 38741, 38742, 38743, 38744, 38745, 38746, 38747, 38748, 38749, 38750, 38751, 38752, 38753, 38754, 38755, 38756, 38757, 38758, 38759, 38760, 38761, 38762, 38763, 38764, 38765, 38766, 38767, 38768, 38769, 38770, 38771, 38772, 38773, 38774, 38775, 38776, 38777, 38778, 38779, 38780, 38781, 38782, 38783, 38784, 38785, 38786, 38787, 38788, 38789, 38790, 38791, 38792, 38793, 38794, 38795, 38796, 38797, 38798, 38799, 38800, 38801, 38802, 38803, 38804, 38805, 38806, 38807, 38808, 38809, 38810, 38811, 38812, 38813, 38814, 38815, 38816, 38817, 38818, 38819, 38820, 38821, 38822, 38823, 38824, 38825, 38826, 38827, 38828, 38829, 38830, 38831, 38832, 38833, 38834, 38835, 38836, 38837, 38838, 38839, 38840, 38841, 38842, 38843, 38844, 38845, 38846, 38847, 38848, 38849, 38850, 38851, 38852, 38853, 38854, 38855, 38856, 38857, 38858, 38859, 38860, 38861, 38862, 38863, 38864, 38865, 38866, 38867, 38868, 38869, 38870, 38871, 38872, 38873, 38874, 38875, 38876, 38877, 38878, 38879, 38880, 38881, 38882, 38883, 38884, 38885, 38886, 38887, 38888, 38889, 38890, 38891, 38892, 38893, 38894, 38895, 38896, 38897, 38898, 38899, 38900, 38901, 38902, 38903, 38904, 38905, 38906, 38907, 38908, 38909, 38910, 38911, 38912, 38913, 38914, 38915, 38916, 38917, 38918, 38919, 38920, 38921, 38922, 38923, 38924, 38925, 38926, 38927, 38928, 38929, 38930, 38931, 38932, 38933, 38934, 38935, 38936, 38937, 38938, 38939, 38940, 38941, 38942, 38943, 38944, 38945, 38946, 38947, 38948, 38949, 38950, 38951, 38952, 38953, 38954, 38955, 38956, 38957, 38958, 38959, 38960, 38961, 38962, 38963, 38964, 38965, 38966, 38967, 38968, 38969, 38970, 38971, 38972, 38973, 38974, 38975, 38976, 38977, 38978, 38979, 38980, 38981, 38982, 38983, 38984, 38985, 38986, 38987, 38988, 38989, 38990, 38991, 38992, 38993, 38994, 38995, 38996, 38997, 38998, 38999, 39000, 39001, 39002, 39003, 39004, 39005, 39006, 39007, 39008, 39009, 39010, 39011, 39012, 39013, 39014, 39015, 39016, 39017, 39018, 39019, 39020, 39021, 39022, 39023, 39024, 39025, 39026, 39027, 39028, 39029, 39030, 39031, 39032, 39033, 39034, 39035, 39036, 39037, 39038, 39039, 39040, 39041, 39042, 39043, 39044, 39045, 39046, 39047, 39048, 39049, 39050, 39051, 39052, 39053, 39054, 39055, 39056, 39057, 39058, 39059, 39060, 39061, 39062, 39063, 39064, 39065, 39066, 39067, 39068, 39069, 39070, 39071, 39072, 39073, 39074, 39075, 39076, 39077, 39078, 39079, 39080, 39081, 39082, 39083, 39084, 39085, 39086, 39087, 39088, 39089, 39090, 39091, 39092, 39093, 39094, 39095, 39096, 39097, 39098, 39099, 39100, 39101, 39102, 39103, 39104, 39105, 39106, 39107, 39108, 39109, 39110, 39111, 39112, 39113, 39114, 39115, 39116, 39117, 39118, 39119, 39120, 39121, 39122, 39123, 39124, 39125, 39126, 39127, 39128, 39129, 39130, 39131, 39132, 39133, 39134, 39135, 39136, 39137, 39138, 39139, 39140, 39141, 39142, 39143, 39144, 39145, 39146, 39147, 39148, 39149, 39150, 39151, 39152, 39153, 39154, 39155, 39156, 39157, 39158, 39159, 39160, 39161, 39162, 39163, 39164, 39165, 39166, 39167, 39168, 39169, 39170, 39171, 39172, 39173, 39174, 39175, 39176, 39177, 39178, 39179, 39180, 39181, 39182, 39183, 39184, 39185, 39186, 39187, 39188, 39189, 39190, 39191, 39192, 39193, 39194, 39195, 39196, 39197, 39198, 39199, 39200, 39201, 39202, 39203, 39204, 39205, 39206, 39207, 39208, 39209, 39210, 39211, 39212, 39213, 39214, 39215, 39216, 39217, 39218, 39219, 39220, 39221, 39222, 39223, 39224, 39225, 39226, 39227, 39228, 39229, 39230, 39231, 39232, 39233, 39234, 39235, 39236, 39237, 39238, 39239, 39240, 39241, 39242, 39243, 39244, 39245, 39246, 39247, 39248, 39249, 39250, 39251, 39252, 39253, 39254, 39255, 39256, 39257, 39258, 39259, 39260, 39261, 39262, 39263, 39264, 39265, 39266, 39267, 39268, 39269, 39270, 39271, 39272, 39273, 39274, 39275, 39276, 39277, 39278, 39279, 39280, 39281, 39282, 39283, 39284, 39285, 39286, 39287, 39288, 39289, 39290, 39291, 39292, 39293, 39294, 39295, 39296, 39297, 39298, 39299, 39300, 39301, 39302, 39303, 39304, 39305, 39306, 39307, 39308, 39309, 39310, 39311, 39312, 39313, 39314, 39315, 39316, 39317, 39318, 39319, 39320, 39321, 39322, 39323, 39324, 39325, 39326, 39327, 39328, 39329, 39330, 39331, 39332, 39333, 39334, 39335, 39336, 39337, 39338, 39339, 39340, 39341, 39342, 39343, 39344, 39345, 39346, 39347, 39348, 39349, 39350, 39351, 39352, 39353, 39354, 39355, 39356, 39357, 39358, 39359, 39360, 39361, 39362, 39363, 39364, 39365, 39366, 39367, 39368, 39369, 39370, 39371])
(6, [44792, 44793, 44794, 44795, 44796, 44797])
(2, [44829, 44830])
(2, [45612, 45613])
(2, [45635, 45636])
(19, [48495, 48496, 48497, 48498, 48499, 48500, 48501, 48502, 48503, 48504, 48505, 48506, 48507, 48508, 48509, 48510, 48511, 48512, 48513])
(137, [49304, 49305, 49306, 49307, 49308, 49309, 49310, 49311, 49312, 49313, 49314, 49315, 49316, 49317, 49318, 49319, 49320, 49321, 49322, 49323, 49324, 49325, 49326, 49327, 49328, 49329, 49330, 49331, 49332, 49333, 49334, 49335, 49336, 49337, 49338, 49339, 49340, 49341, 49342, 49343, 49344, 49345, 49346, 49347, 49348, 49349, 49350, 49351, 49352, 49353, 49354, 49355, 49356, 49357, 49358, 49359, 49360, 49361, 49362, 49363, 49364, 49365, 49366, 49367, 49368, 49369, 49370, 49371, 49372, 49373, 49374, 49375, 49376, 49377, 49378, 49379, 49380, 49381, 49382, 49383, 49384, 49385, 49386, 49387, 49388, 49389, 49390, 49391, 49392, 49393, 49394, 49395, 49396, 49397, 49398, 49399, 49400, 49401, 49402, 49403, 49404, 49405, 49406, 49407, 49408, 49409, 49410, 49411, 49412, 49413, 49414, 49415, 49416, 49417, 49418, 49419, 49420, 49421, 49422, 49423, 49424, 49425, 49426, 49427, 49428, 49429, 49430, 49431, 49432, 49433, 49434, 49435, 49436, 49437, 49438, 49439, 49440])
(5, [50550, 50551, 50552, 50553, 50554])
(5, [50574, 50575, 50576, 50577, 50578])
(2, [50584, 50585])
(5, [50598, 50599, 50600, 50601, 50602])
(4, [50606, 50607, 50608, 50609])
(5, [50622, 50623, 50624, 50625, 50626])
(2, [50632, 50633])
(5, [50646, 50647, 50648, 50649, 50650])
(3, [50655, 50656, 50657])
(76, [50862, 50863, 50864, 50865, 50866, 50867, 50868, 50869, 50870, 50871, 50872, 50873, 50874, 50875, 50876, 50877, 50878, 50879, 50880, 50881, 50882, 50883, 50884, 50885, 50886, 50887, 50888, 50889, 50890, 50891, 50892, 50893, 50894, 50895, 50896, 50897, 50898, 50899, 50900, 50901, 50902, 50903, 50904, 50905, 50906, 50907, 50908, 50909, 50910, 50911, 50912, 50913, 50914, 50915, 50916, 50917, 50918, 50919, 50920, 50921, 50922, 50923, 50924, 50925, 50926, 50927, 50928, 50929, 50930, 50931, 50932, 50933, 50934, 50935, 50936, 50937])

The goal of this project is to compare monthy averages between Berlin and Washington, DC. So it's not very necesary to fill these large segments of missing data. As shown below, all months have atleast 80% of total possible data available. 

Smaller segments of missing data (1 or 2 consecutive hours) will be replaced by averaging the preceding and following readings. This accounts for 5.86% of the missing data.

In [212]:
# dict of months with their total hours as values
month_hours = {1: 4464, 2: 4032, 3: 4464, 4: 4320, 5: 4464, 6: 4320, 7: 4464, 8: 4464, 9: 4320, 10: 4464, 11: 4320, 12:4464}

for month in range(1, 13):
  print("month:", month)
  vals_count = len(df[df['datetime'].dt.month == month].dropna())
  print("Num of values:", vals_count)
  print("% of data available:", round((vals_count / month_hours[month] * 100), 1))
  print("")

month: 1
Num of values: 4460
% of data available: 99.9

month: 2
Num of values: 3864
% of data available: 95.8

month: 3
Num of values: 4453
% of data available: 99.8

month: 4
Num of values: 4223
% of data available: 97.8

month: 5
Num of values: 4147
% of data available: 92.9

month: 6
Num of values: 3456
% of data available: 80.0

month: 7
Num of values: 4183
% of data available: 93.7

month: 8
Num of values: 4187
% of data available: 93.8

month: 9
Num of values: 4273
% of data available: 98.9

month: 10
Num of values: 4268
% of data available: 95.6

month: 11
Num of values: 4304
% of data available: 99.6

month: 12
Num of values: 4403
% of data available: 98.6

In [213]:
ones_and_twos_count = 0
for segment in no_sun_segments:
  if segment[0] == 1:
    ones_and_twos_count += 1
  elif segment[0] == 2:
    ones_and_twos_count += 2
print("Total rows from single or double missing segments:", ones_and_twos_count)
print("Percent of missing rows made up of single or double segments:", 
      round((ones_and_twos_count / len(no_sun_ind) * 100), 2))

Total rows from single or double missing segments: 137
Percent of missing rows made up of single or double segments: 5.86

#### Filling single and double missing segments in `sunduration`

Occurances of just one or two consecutive missing readings will be filled with the average of the preceading and following readings.

In [214]:
for segment in no_sun_segments:
  if segment[0] == 1:
    preceding = df.loc[segment[1][0] - 1, 'sunduration_BER']
    following = df.loc[segment[1][0] + 1, 'sunduration_BER']
    df.loc[segment[1], 'sunduration_BER'] = (preceding + following) * 0.5
  elif segment[0] == 2:
    preceding = df.loc[segment[1][0] - 1, 'sunduration_BER']
    following = df.loc[segment[1][1] + 1, 'sunduration_BER']
    df.loc[segment[1][0], 'sunduration_BER'] = (preceding + following) * 0.5
    df.loc[segment[1][1], 'sunduration_BER'] = (preceding + following) * 0.5

### Prepping `df_dcsun` and `df_bersun`

These two dataframes need to be standardized in order to be used.

In [215]:
df_bersun.head(), df_dcsun.head()

(    datetime sunrise_BER  sunset_BER daylength_BER
 0 2016-01-01  8:16:40 AM  4:02:43 PM     7h 46m 3s
 1 2016-01-02  8:16:31 AM  4:03:49 PM    7h 47m 18s
 2 2016-01-03  8:16:18 AM  4:04:57 PM    7h 48m 39s
 3 2016-01-04  8:16:01 AM  4:06:08 PM     7h 50m 7s
 4 2016-01-05  8:15:41 AM  4:07:22 PM    7h 51m 41s,
     datetime  sunrise_DC  sunset_DC
 0 2016-01-01       727.0     1657.0
 1 2016-01-02       727.0     1658.0
 2 2016-01-03       727.0     1659.0
 3 2016-01-04       727.0     1700.0
 4 2016-01-05       727.0     1700.0)

In [216]:
df_bersun['sunrise_BER'] = pd.to_datetime(df_bersun['sunrise_BER'], format='%I:%M:%S %p').dt.time
df_bersun['sunset_BER'] = pd.to_datetime(df_bersun['sunset_BER'], format='%I:%M:%S %p').dt.time

df_dcsun['sunrise_DC'] = pd.to_datetime(df_dcsun['sunrise_DC'], format='%H%M').dt.time
df_dcsun['sunset_DC'] = pd.to_datetime(df_dcsun['sunset_DC'], format='%H%M').dt.time

In [217]:
df_bersun.head(), df_dcsun.head()

(    datetime sunrise_BER sunset_BER daylength_BER
 0 2016-01-01    08:16:40   16:02:43     7h 46m 3s
 1 2016-01-02    08:16:31   16:03:49    7h 47m 18s
 2 2016-01-03    08:16:18   16:04:57    7h 48m 39s
 3 2016-01-04    08:16:01   16:06:08     7h 50m 7s
 4 2016-01-05    08:15:41   16:07:22    7h 51m 41s,
     datetime sunrise_DC sunset_DC
 0 2016-01-01   07:27:00  16:57:00
 1 2016-01-02   07:27:00  16:58:00
 2 2016-01-03   07:27:00  16:59:00
 3 2016-01-04   07:27:00  17:00:00
 4 2016-01-05   07:27:00  17:00:00)

### Filtering `cloudcover_DC` while DC sun is down

The goal of this project is to compare overcast between the two cities, therefore, `cloudcover_dc` will need to be manipulated to account for when the sun was actually shinning. This will make comparing `sunduration_BER` and `cloudcover_DC` possible. The following changes will be made:

-  sunrise and sunset data will be use to set `cloudcover` to 0 when the sun is down
- during hours where the sun rose and set, `cloudcover_dc` will be multiplied by ratio of minutes that the sun was up to the total minutes in an hour
  - for example:
    - on 2016-01-01, the sun rose at 7:27 and set at 16:57 in DC
    - during 2016-01-01 07:00:00, `cloudcover_DC` is 96.6% and during 2016-01-01 16:00:00 it is 89.1%
    - these 96.6% and 89.1% `cloudcover_dc` values will become 53.13% and 84.645%
  - this

In [218]:
df[df['datetime'].dt.month == 1]

                 datetime  sunduration_BER  cloudcover_DC
0     2016-01-01 00:00:00              0.0           99.8
1     2016-01-01 01:00:00              0.0          100.0
2     2016-01-01 02:00:00              0.0           88.9
3     2016-01-01 03:00:00              0.0           79.3
4     2016-01-01 04:00:00              0.0           79.3
...                   ...              ...            ...
44539 2021-01-31 19:00:00              0.0          100.0
44540 2021-01-31 20:00:00              0.0          100.0
44541 2021-01-31 21:00:00              0.0          100.0
44542 2021-01-31 22:00:00              0.0          100.0
44543 2021-01-31 23:00:00              0.0          100.0

[4464 rows x 3 columns]

In [273]:
def sun_up_check(row, city):
  if city == 'DC':
    # print(row)
    # print(row['datetime'].date())
    # print('')
    # print(row['datetime'].time())
    # print(f"hour: {row['datetime'].hour}")
    sunrise = df_dcsun.loc[df_dcsun['datetime'] == str(row['datetime'].date()), 'sunrise_DC'].values[0]
    sunset = df_dcsun.loc[df_dcsun['datetime'] == str(row['datetime'].date()), 'sunset_DC'].values[0]
    # print(f"sunrise: {sunrise}")
    # print(f"sunset: {sunset}")
    # print(f"sunrise hour: {sunrise.hour}")
    # print(f"sunset hour: {sunset.hour}")
    # print(f"cloudcover: {row['cloudcover_DC']}")
    if row['datetime'].hour == sunrise.hour:
      # print("Sun is coming up.")
      min_sun = 60 - sunrise.minute
      # print(f" new cloudcover: {row['cloudcover_DC'] * (min_sun / 60.0)}")
      return row['cloudcover_DC'] * (min_sun / 60.0)
    elif row['datetime'].hour == sunset.hour:
      # print("Sun is coming down.")
      min_sun = sunset.minute
      # print(f"new cloudcover: {row['cloudcover_DC'] * (min_sun / 60.0)}")
      return row['cloudcover_DC'] * (min_sun / 60.0)
    elif (row['datetime'].hour < sunrise.hour + 1) or (row['datetime'].hour > sunset.hour - 1):
      # print("Sun is down.")
      return 0
    else:
      # print("sun is up.")
      # print(f"new cloudcover: {row['cloudcover_DC']}")
      return row['cloudcover_DC']

  
  # elif city == 'BER':
  #   # print(row)
  #   # print(row['datetime'].date())
  #   # print('')
  #   # print(row['datetime'].time())
  #   print(f"hour: {row['datetime'].hour}")
  #   sunrise = df_bersun.loc[df_bersun['datetime'] == str(row['datetime'].date()), 'sunrise_BER'].values[0]
  #   sunset = df_bersun.loc[df_bersun['datetime'] == str(row['datetime'].date()), 'sunset_BER'].values[0]
  #   print(f"sunrise: {sunrise}")
  #   print(f"sunset: {sunset}")
  #   print(f"sunrise hour: {sunrise.hour}")
  #   print(f"sunset hour: {sunset.hour}")
  #   if (sunrise.hour < row['datetime'].hour) or (row['datetime'].hour > sunset.hour):
  #     return 0
  #   else:
  #     return row['sunduration_BER']
  else:
    raise Exception("city argument is invlaid.")

# for i in range(0,24):
#   print(sun_up_check(df.loc[i], 'DC'))

In [277]:
df['cloudcover_DC'] = df.apply(sun_up_check, args = ['DC'], axis=1)

In [278]:
df

                 datetime  sunduration_BER  cloudcover_DC
0     2016-01-01 00:00:00              0.0            0.0
1     2016-01-01 01:00:00              0.0            0.0
2     2016-01-01 02:00:00              0.0            0.0
3     2016-01-01 03:00:00              0.0            0.0
4     2016-01-01 04:00:00              0.0            0.0
...                   ...              ...            ...
52555 2021-12-31 19:00:00              0.0            0.0
52556 2021-12-31 20:00:00              0.0            0.0
52557 2021-12-31 21:00:00              0.0            0.0
52558 2021-12-31 22:00:00              0.0            0.0
52559 2021-12-31 23:00:00              0.0            0.0

[52560 rows x 3 columns]

Warning: total number of rows (52560) exceeds max_rows (20000). Limiting to first (20000) rows.
Warning: total number of rows (52560) exceeds max_rows (20000). Limiting to first (20000) rows.

In [271]:
df

                 datetime  sunduration_BER  cloudcover_DC
0     2016-01-01 00:00:00              0.0           99.8
1     2016-01-01 01:00:00              0.0          100.0
2     2016-01-01 02:00:00              0.0           88.9
3     2016-01-01 03:00:00              0.0           79.3
4     2016-01-01 04:00:00              0.0           79.3
...                   ...              ...            ...
52555 2021-12-31 19:00:00              0.0           81.7
52556 2021-12-31 20:00:00              0.0           98.3
52557 2021-12-31 21:00:00              0.0           99.6
52558 2021-12-31 22:00:00              0.0           99.6
52559 2021-12-31 23:00:00              0.0           99.6

[52560 rows x 3 columns]

In [243]:
 date = df.loc[0, 'datetime'].date()
 print(date)

#  print(df.loc[1, 'datetime'].hour)

2016-01-01
1

In [248]:
df_dcsun.loc[0, 'sunrise_DC']

datetime.time(7, 27)

In [221]:
df_bersun.loc[df_bersun['datetime'] == '2016-01-01', 'sunrise_BER'].values[0].hour

8

In [222]:
df.loc[8, 'datetime'].hour

8

In [223]:
df_bersun

       datetime sunrise_BER sunset_BER daylength_BER
0    2016-01-01    08:16:40   16:02:43     7h 46m 3s
1    2016-01-02    08:16:31   16:03:49    7h 47m 18s
2    2016-01-03    08:16:18   16:04:57    7h 48m 39s
3    2016-01-04    08:16:01   16:06:08     7h 50m 7s
4    2016-01-05    08:15:41   16:07:22    7h 51m 41s
...         ...         ...        ...           ...
2185 2021-12-27    08:16:59   15:58:30    7h 41m 31s
2186 2021-12-28    08:17:05   15:59:22    7h 42m 17s
2187 2021-12-29    08:17:08   16:00:17     7h 43m 9s
2188 2021-12-30    08:17:07   16:01:16     7h 44m 9s
2189 2021-12-31    08:17:02   16:02:17    7h 45m 15s

[2190 rows x 4 columns]

## Data Analysis

The data in `df` isn't ready to be compared yet, as `sunduration` (Berlin) represents minutes of sunshine during each hour and `cloudcover` (DC) represents a percentage of overcast for each hour. To prepare the data for visual comparison, a `sunduration` and `cloudcover` column will be created for both cities. 

To do this, Berlin's `sunduration` will be converted to percentages by dividing all values by the minutes in an hour. This will be an approximation of the percentage of sunshine in an hour. The opposite transformation will be performed on DC's `cloudcover`, multiplying the percentages by 60. This will be an approximation of the minutes during each hour that the sun was shining. Values will not be rounded.

In [224]:
# df = df.rename(columns={'sunduration': 'BER_sunduration', 'cloudcover': 'DC_cloudcover'})

# df['cloudcover_BER'] = df['sunduration_BER'] / 60 * 100
# df['sunduration_DC'] = df['cloudcover_DC'] / 100 * 60
# df